<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIFF Login</title>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
      margin: 0;
    }
    .login-container {
      background-color: white;
      padding: 20px 40px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .login-container h1 {
      margin-bottom: 20px;
    }
    .login-container button {
      background-color: #00b900;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .login-container button:hover {
      background-color: #008f00;
    }
    .login-container .fa-line {
      margin-right: 10px;
    }
  </style>

  <script>
    const id = '{{ LIFF_ID }}'
    console.log(id)
    document.addEventListener('DOMContentLoaded', function () {
      // Your function to run after the page has loaded
      function afterPageLoad() {
        console.log("The page has load");
        liff.init({ liffId: id})

      }
      afterPageLoad();
    });

    async function handleLoginButtonClick() {
      console.log('Login button clicked');
      console.log(id);
      liff.init({ liffId: id })
      console.log('LIFF initialized');
      if (!liff.isLoggedIn()) {
        console.log('User not logged in, redirecting to login');
        liff.login();
      } 
      try {
        //REDIRECT HERE
        window.location.href = '/home';
      } catch (err) {
        console.log(err)
      }
    }
  </script>
</head>
<body>
  <div class="login-container">
    <h1>Login with LINE</h1>
    <button onClick="handleLoginButtonClick()">
      <i class="fab fa-line"></i> Login
    </button>
  </div>
</body>
</html>
