<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIFF Login</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
      margin: 0;
    }
    .test-button {
      font-family: Arial, sans-serif;
      background-color: #74bd67;
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function afterPageLoad() {
        console.log("The page has load");
      }
      afterPageLoad();
    });
    async function handleLoginButtonClick(){
        console.log('test click')
        //CALL FUNCTION FROM SERVER HERE
        try {
          const response = await fetch('/hbs/profile', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            }
          });
          
          const result = await response.json();
          console.log('Server response:', result);
        } catch (error) {
          console.error('Error:', error);
        }
    }
  </script>
</head>
<body>
    <h1>TEMP PAGE</h1>
    <button class="test-button" onClick="handleLoginButtonClick()">BUTTON</button>
</body>
</html>
